@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Changa:wght@200..800&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');

body{
    background-color: black;
    color: white;
    font-family: "Changa", sans-serif;
}
h1{
    display: flex;
    justify-content: center;
}

.txt{
    margin-left: 340px;
    width: 500px;
    padding: 50px;
    background-color: rgba(0, 252, 0, 0.493);
    border: 2px solid green;
    border-radius: 20px;
}

button{
    color:white;
    margin: 25px;
    margin-left: 340px;
    border-radius: 10px;
    background: rgb(0,125,10);
    background: -moz-linear-gradient(306deg, rgba(0,125,10,1) 12%, rgba(1,205,0,1) 100%);
    background: -webkit-linear-gradient(306deg, rgba(0,125,10,1) 12%, rgba(1,205,0,1) 100%);
    background: linear-gradient(306deg, rgba(0,125,10,1) 12%, rgba(1,205,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007d0a",endColorstr="#01cd00",GradientType=1);
    transition: background-color 0.1s ease; /* Suaviza a transição da cor de fundo */
    cursor: pointer;
    padding: 5px;
}
button a{
    text-decoration: none;
    color: white;
    font-family: "Changa", sans-serif;
}
button:hover {
    background: rgb(0, 94, 5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    transform: scale(1.2);  /* Aumenta o tamanho em 10% */
}

